<a href="https://colab.research.google.com/github/rizveehasan19/Guided-Projects/blob/main/Scraping_Static_Website.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrape the last table from this Wikipedia Page: https://en.wikipedia.org/wiki/Red_states_and_blue_states

We will be using **Beautiful Soup** and **Requests** library for this task. Let's dive in.

In [ ]:
import requests
import bs4
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/Red_states_and_blue_states"
web_page = bs4.BeautifulSoup(requests.get(url, {}).text, "lxml")
tables = web_page.find_all(name="table", attrs= {"class": "wikitable"})
table_rows = tables[-1].find_all(name="tr")
len(table_rows)

59

In [ ]:
col_names = [ raw_name.text.replace("\n", "") for raw_name in table_rows[0].find_all(name="th")]
col_names

['Year',
 '1972',
 '1976',
 '1980',
 '1984',
 '1988',
 '1992',
 '1996',
 '2000',
 '2004',
 '2008',
 '2012',
 '2016',
 '2020']

In [ ]:
contents = [{col_names[idx] : raw_name.text.replace("\n", "").strip() for idx, raw_name in enumerate(table_rows[row_id].find_all(name="td"))} for row_id in range(2, len(table_rows))]

In [ ]:
df = pd.DataFrame(data=contents, columns=col_names)
df.head()

,Year,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
0,Democratic candidate,George McGovern,Jimmy Carter,Jimmy Carter,Walter Mondale,Michael Dukakis,Bill Clinton,Bill Clinton,Al Gore,John Kerry,Barack Obama,Barack Obama,Hillary Clinton,Joe Biden
1,Republican candidate,Richard Nixon,Gerald Ford,Ronald Reagan,Ronald Reagan,George H. W. Bush,George H. W. Bush,Bob Dole,George W. Bush,George W. Bush,John McCain,Mitt Romney,Donald Trump,Donald Trump
2,National popular vote,Nixon,Carter,Reagan,Reagan,Bush,Clinton,Clinton,Gore,Bush,Obama,Obama,Clinton,Biden
3,Alabama,Nixon,Carter,Reagan,Reagan,Bush,Bush,Dole,Bush,Bush,McCain,Romney,Trump,Trump
4,Alaska,Nixon,Ford,Reagan,Reagan,Bush,Bush,Dole,Bush,Bush,McCain,Romney,Trump,Trump

In [ ]:
len(df)

57